body {
  background-color: rgb(0, 0, 0);
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.birthdayCard {
  border-radius: 30px;
  position: relative;
  margin-right: 400px;
  width: 520px;
  height: 600px;
  transform-style: preserve-3d;
  cursor: pointer;
  transform: perspective(2000px);
  transition: 1s;
}

.cardFront {
  position: relative;
  background-color: #fef0f8;
  width: 520px;
  height: 600px;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(118, 118, 118, 0.2),
    30px 0 50px rgba(118, 118, 118, 0.2);
  transition: 0.6s;
}
.bdHat {
  width: 100px;
  height: auto;
  top: 24%;
  left: 36%;
  transform: rotate(-30deg);
  position: absolute;
  z-index: 4;
}
.balloons {
  position: absolute;
  width: 270px;
  height: auto;
  right: -10px;
  z-index: 4;
  top: 30px;
}
.jessImg {
  display: flex;
  justify-content: center;
  top: 110px;
  left: 25px;
  position: absolute;
  width: 400px;
  height: auto;
}
.happy {
  text-align: center;
  left: 27%;
  top: 88%;
  font-size: 1.5em;
  font-family: Tahoma, sans-serif;
  color: hotpink;
  position: absolute;
  transition: 0.1s;
  z-index: 6;
}
.cardInside {
  position: absolute;
  background-color: #fef0f8;
  width: 520px;
  height: 600px;
  z-index: -1;
  left: 0;
  border-radius: 0 15px 15px 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(191, 190, 190, 0.2);
}
p {
  font-size: 33px;
  color: #333;
}
.back {
  font-family: Tahoma, sans-serif;
  color: #333;
  text-align: center;
  margin: 30px;
}
.birthdayCard:hover {
  transform: perspective(2500px) rotate(5deg);
  box-shadow: inset 100px 20px 100px rgba(116, 115, 115, 0.5),
    0 10px 100px rgba(116, 115, 115, 0.5);
}
.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg);
}
.birthdayCard:hover .happy {
  visibility: hidden;
}
@import url("https://fonts.googleapis.com/css?family=Caveat");
html,
body {
  background: linear-gradient(to bottom, #090513 0%, #964987 75%, #fdbca3 100%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#title {
  margin-top: 300px;
}
.stars {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: rotation 360s infinite linear;
  animation: rotation 360s infinite linear;
}
.stars:after,
.stars:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQMAAAC6caSPAAAABlBMVEVHcEz///+flKJDAAAAAXRSTlMAQObYZgAAAIVJREFUeAHt2SEOwkAQhtFJKuqKRRGOgKzgUMgKRI/G0ZDoacNkN/ue/zJ+/ugBcI+01/EEAGBc04FkP58AVFoi7VaSLAEAAPB/j0hbK678AADMkXbZG03mGA0AAKsP3JgAAGDa88knsuZ8Mp1M6gEAPFtNrtEjtkh7lyRb3/PAWpS0BPgC0PMMdOEjXqoAAAAASUVORK5CYII=");
}
.stars:after {
  background-size: 100px;
  opacity: 0.4;
}
.stars:before {
  background-size: 200px;
  opacity: 0.6;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
h1 {
  font-size: calc(1.5em + 5vw);
  color: #fff;
  font-family: "Caveat", sans-serif;
  text-align: center;
  padding: 0.5em;
  transform: rotate(-4deg) translateY(-15vh);
}

.mountains {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  min-width: 100%;
  height: 60px;
  fill: #000022;
}

.mountains--layer1 {
  z-index: 2;
}

.mountains--layer2 {
  fill: #9d5189;
  z-index: 0;
}
